.mayhem_myformerror {
    background-color: #fdf5e6;
    border: 2px solid #800000;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

.mayhem_myformconfirm {
    background-color: #f0f8ff;
    border: 2px solid #cacadc;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.mayhem_stats {
    background-color: #c0c0c0;
    border: 1px dotted #808080;
    color: #fff;
    font-size: .85em;
    padding: 5px;
}

.mayhem_error_text {
    background-color: whitesmoke;
    color: #800000;
    margin: 5px;
    padding: 5px;
}

.mayhem_notice_text {
    background-color: yellow;
    color: black;
    margin: 5px;
    padding: 5px;
}

.mayhem_completedmsg {
    background-color: whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.mayhem_alreadyhidden {
    opacity: .5;
}

.mayhem_progress_bar {
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: -64px;
    position: relative;
    text-align: center;
    width: 100%;
}

.mayhem_bar {
    background-color: red;
    font-size: 3em;
    padding: 20px 0;
}

.mform .mayhem_checkbox .fitem {
    margin: 0;
    padding: 4px;
}